.container {
    max-width: 90% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


@media only screen and (max-width: 1440px) {
    .page {
        width: 100% !important;
    }
}
