body.pagina-estreita .page-body,
body.pagina-estreita .article-container,
body.pagina-estreita .container {
    max-width: 900px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container {
    max-width: 90%;
}
